/* :root {
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --white-font-color: #ffffff;
  --background-dark-color: #2f303a;
  --main-font: 'Roboto', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  display: block;
} */
/*=============COMPONENTS=============*/
/* .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;

  transition: color 250ms var(--timing-function);
}
.logo span {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
} */

/*============HEADER============*/

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */
/* .header {
  display: flex;
  align-items: center;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-header .logo {
  margin-right: 93px;
} */
/* .navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  align-items: center;
} */
/* .header-address-list {
  display: flex;
}
.header-address-item:not(:last-child) {
  margin-right: 50px;
}
.header-address {
  margin-left: auto;
  margin-top: 0;
} */
/* .navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  padding-top: 30px;
  padding-bottom: 30px;

  transition: color 250ms var(--timing-function);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list .current {
  color: var(--accent-color);
} */
/* .current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
  transform: translateY(27.5px);
} */

/*adress*/
/* .envelope-svg {
  margin-right: 10px;
  fill: currentColor;
}
.smartphone-svg {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);

  transition: color 250ms var(--timing-function);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
} */

/*===============MAIN===============*/

/*=============HERO==========*/
/* .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.hero-button {
  padding: 9px 31px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-decoration: none;
  background: var(--accent-color);
  color: var(--white-font-color);
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
} */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/*===========ADVANTAGES=========*/
/* .advantages-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-title-description {
  margin-top: 10;
  margin-bottom: 0;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  text-transform: uppercase;
}
.advantages-title-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.71;
  color: var(--secondary-font-color);
} */

/*========OUR WORKS EXAMPLES========*/
/* .examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-family: var (var(--main-font));
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-font-color);
  background: rgba(47, 48, 58, 0.8);
}
.examples-item {
  position: relative;
}
.examples-list {
  display: flex;
}
.our-works {
  padding-bottom: 94px;
}
.examples-item:not(:last-child) {
  margin-right: 30px;
} */
/*========OUR TEAM=========*/

/* .our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-list {
  display: flex;
}
.our-team-element {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-title {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.team-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
} */

/* .social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.social-logo {
  fill: currentColor;
}
.social-list-link:hover,
.social-list-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
} */

/*=========OUR CLIENTS========*/
/* .our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.clients-logo {
  fill: currentColor;
}
.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
} */

/*=========Footer========*/
/* .footer {
  display: flex;
} */
/* .footer-social-title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-font-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-logo {
  fill: currentColor;
}
.footer-social-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}
.footer-social {
  width: 206px;
  margin-top: 12px;
  margin-left: 85px;
} */
/* footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
} */
/* .footer-address-item:not(:last-child) {
  margin-bottom: 6px;
}
address {
  margin-top: 20px;
}
.footer-address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}
.footer-address-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
} */
/* .footer-logo {
  color: var(--white-font-color);
} */
/* .footer-form {
  margin-top: 12px;
  margin-left: 93px;
}
.footer-form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-dark-color);
  margin-top: 20px;
  padding-left: 16px;
}
.footer-form-input::placeholder {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:not(:placeholder-shown) {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  position: relative;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  margin-top: 20px;
  cursor: pointer;
}
.footer-form-wrapper {
  display: flex;
}
.footer-form-svg {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
} */
/*==========PORTFOLIO==========*/
/* .header-border {
  border-bottom: 1px solid #ececec;
} */
/* .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list:not(:last-child) {
  margin-right: 8px;
} */

/* .btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  background-color: #f5f4fa;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.btn:hover,
.btn:focus {
  color: var(--white-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .overlay {
  position: absolute;
  top: 1px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}
.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);

  padding-bottom: 4px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);

  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-item-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
} */
/* ================== Modal ================= */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: 250ms var(--timing-function);
}
.modal-cross {
  transition: fill 250ms var(--timing-function);
}
.modal-cross:hover {
  fill: var(--accent-color);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-font-color);

  display: block;
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}
.modal-form-input:focus,
.modal-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-icon {
  position: absolute;
  top: 0;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}
.modal-form-massage-field {
  margin-bottom: 20px;
}
.modal-form-message::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-policy-text {
  margin: 0 auto;
  margin-bottom: 30px;
}
.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 3px;
  background-image: url('../images/vector.svg');
}
.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url('../images/icon\ check.svg');
}
.modal-form-font {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}
.modal-policy-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-policy-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
  text-decoration-skip-ink: none;
}
.modal-form-btn {
  max-width: 200px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  padding: 10px 55px;
  display: block;
  margin: 0 auto;
} */
